<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
	<!-- adding a home button to the bottom of all the pages -->
	<hr>
	<p><a href="/">Home</a></p>
  </body>
</html>
